<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged in User</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to external CSS file -->
    <script defer src="script.js"></script> <!-- Link to external JavaScript file -->
</head>
<body>
    welcome {{request.user}}
    <p>
        This is the best website.. I have made till now
    </p>
    <a href='/logout'>Logout
    </a>
</body>

